/********RESET*********/
body, h1, h2, h3, p, div, img, nav, ul, a, span{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
.wrapper{
    max-width: 1170px;
    height: 100%;
    margin: 0px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
nav {
    width: 100%;
    height: 68px;
    background-color: #1b2126;
}
.logo{
    flex:2;
    height: 31px;
}
nav > .wrapper{
    justify-content: space-between;
    align-items: center;
}
.menu{
    flex: 6;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 505px;
    
}
.menu li a{
     color: #b2b5b8;
     font-weight: 400;
     font-size: 1em;
     margin-top: -3.5px;
}
.search{
    background-color:  #5c6269;
    border-radius: 6px;
    width: 370px;
    height: 38px;
    display: flex;
    align-items: center;
}
.inputsearch{
    background-color: transparent;
    border: none;
    width: 205px;
    margin-top: -1px;
}
.inputsearch::-webkit-input-placeholder { color: #1b2126; }
.inputsearch:-moz-placeholder { color: #1b2126; }
.inputsearch::-moz-placeholder { color: #1b2126; }
.inputsearch:-ms-input-placeholder { color: #1b2126; }
.iconsearch{
    height: 19px;
    width: 19px;
    margin-left: 15px;
    margin-right: 15px;
}
section {
    width: 100%;
}
.aside, .subcontent{
    display: flex;
    flex-wrap: wrap;
}
.aside > .containeraside {
    flex-direction: column;
}
.aside{
    width: 241px;
    padding-right: 28px;
    border-right: 1px solid #e9ecee;
    flex-direction: column;
}
.subcontent{
    flex: 9;
    padding-left: 30px;
}
.headersubcontent, .headeraside{
    color: #5c6269;
}
.nummovies, .rowclasification p{
    color: #1b2126;
}
.nummovies{
    font-weight: 600;
}
.headersubcontent p {
    font-weight: 400;
}

.headeraside > .iconfilter{
    height: 25px;
    margin-right: 34px;
}
.subcontent > .headersubcontent, .aside > .headeraside{
    height: 68px;
    font-size: 1em;
    display: flex;
}
.aside > .headeraside{
    width: 100%;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
}
.textheaderaside{
    flex: 2;
    display: flex;
    justify-content: space-between;
}
.textheaderaside p a{
    text-decoration: none;
    color: #5c6269;
    cursor: pointer;
}
.subcontent > .headersubcontent {
    width: 100%;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}
.subcontent .containermovie{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    position: relative;
    width: 269px;
    height: 403px;
    margin-bottom: 27px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: rgb(27, 33, 38);
}
.item img{
    width: 100%;
    height: 100%;
}
.item:hover img{
    opacity: 0.6;
}
.item:hover img + .icons-rt {
    opacity: 0.82;
}
.val {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.val span{
    margin-left: 5px;
}

.icons-rt{
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    font-size: 0.875em;
    background-color:  rgb(27, 33, 38);
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    opacity: 0;
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.icons-rt div{
    display: flex;
    align-items: center;
}
.fa-heart, .fa-clock-o{
    cursor: pointer;
}
.letterdelete{
    color: #f3644f;
    cursor: pointer;

}
.btnnoselect:active, .btnselect:active,
.btnnoselect:link, .btnselect:link,
.btnnoselect:visited, .btnselect:visited,
.btnnoselect:hover, .btnselect:hover {
    text-decoration: none;
}
.buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btnSelect, .btnNoSelect{
    width: 113px;
    height: 25px;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    border: 2px solid;
    border-radius: 6px;
    margin-bottom: 9px;
    padding-top: 4px;
}
.btnSelect{
    color: #2883d8;
    border-color: #2883d8;
}
.btnNoSelect{
    color: #8e9297;
    border-color: #8e9297;
}
.containeraside img{
    width: 100%;
}
.rowclasification p{
    font-weight: 600;
}
.rowclasification{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.rowclasification span{
    border: 2px solid #ebeef0;
    color: #ebeef0;
    height: 15px;
    font-weight: 700;
    font-size: 0.75em;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
}
.view-individual{
    background-color: rgba(97, 101, 105, 0.77);
    position: fixed;
    top: 0;
    bottom:0;
    right: 0px;
    left: 0;
    z-index: 0;
}
.film{
    z-index: 1;
    position: absolute;
    top: 0;
    width: 1224px;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-left: 26px;
    padding-right: 18px;
    -webkit-animation: mymove 1s;
    -webkit-animation-timing-function: ease;
    animation: mymove 1s;
    animation-timing-function: ease;
    box-sizing: border-box;
}
.titlefilm{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e9ecee;
    padding-bottom: 17.5px;
    max-width: 1180px;
}
.titlefilm img{
    margin-top: 18px;
    width: 46px;
    height: 46px;
}
.titlefilm div{
    margin-top: 35.5px;
}
.titlefilm div span{
    font-weight: 300;
}
.titlefilm div:first-child span:first-child{
    font-size: 2.188em;
    color:  #1b2126;
    margin-right: 5.83px;
}
.titlefilm div:first-child span:last-child{
    font-size: 1.25em;
    color: #a5a8ac;
}
.contentfilm{
    padding-top: 15px;
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
    max-width: 1180px;
}
.contentfilm > img{
    max-width: 440px;
    max-height: 660px;
    margin-right: 33px;
}
.headersipnosis, .caractsfilm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headersipnosis{
    font-weight: 300;
}
.headersipnosis span:first-child{
    color:#1b2126;;
    font-size: 1.563em;
}
.headersipnosis span:last-child{
    color: #a5a8ac;
    font-size: 1.25em;
}
body.modalOpen{
    overflow: hidden;
}
.categoriasfilm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.categoriasfilm span{
    background-color: #e9ecee;
    border-radius: 6px;
    font-size: 0.875em;
    line-height: 28px;
    font-weight: 400;
    color: #5c6269;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 8px;
}
.valorationfilm{
    display: flex;
    justify-content: space-between;
    width: 216px;
    color: #c0c4c8;
    font-weight: 600;
    font-size: 0.875em;
}
.valorationfilm div > img{
    height: 20px;
    margin-right: 6px;
}
.valorationfilm div{
    display: flex;
    align-items: center;
}
.abstractfilm{
    padding-top: 14px;
    color: #8e9297;
    font-weight: 400;
    max-width: 707px;
    padding-right: 40px;
    height: 171px;
    overflow: hidden;
}
.trailer{
    width: 100%;
}
.trailer p{
    color:  #1b2126;
    font-weight: 300;
    font-size: 1.563em;
    padding-bottom: 20px;
}
.trailer iframe{
    width: 100%;
    border: 1px solid #0d0d0d;
    width: 100%;
    height: 342px;
    box-sizing: border-box;
}
.subtitles{
    max-width: 1180px;
    padding-top: 13.5px;
    padding-bottom: 25.5px;
    border-bottom: 1px solid #e9ecee;
}
.subtitles span, .subtitles span a{
    color:  #8e9297;
}
.subtitles span:first-child{
    font-weight: 700;
}
.subtitles span a{
    font-weight: 400;
    text-decoration: underline;
}
.subtitles + p {
    padding-top: 23px;
    color:  #5c6269;
    font-weight: 400;
    padding-bottom: 27px;
}
.similiarmovies{
    display: flex;
    max-width: 1180px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1180px;
}
.similiarmovies div{
    max-width: 270px;
    text-align: center;
}
.similiarmovies div> img{
    height: 241px;
    width: 270px;
}
.similiarmovies div p{
    color:  #1b2126;
    font-weight: 300;
    font-size: 1.563em;
}
.menu ul li:last-child ul{
    position: relative;
    display: none;
}

.menu ul li:last-child:hover ul{
    display: inline-block;
    position: absolute;
}
.menu ul li:last-child ul li{
    position: relative;
    background-color: #1b2126;
    margin: 0px 0 0 -8px;
    width: 150px;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #a5a8ac;
    border-right: 1px solid #a5a8ac;
    border-left: 1px solid #a5a8ac;
}
.menu ul li:last-child ul li:hover{
    background-color: #a5a8ac;
}
.menu ul li:last-child ul li:hover a{
   color: #1b2126;
}
@-webkit-keyframes mymove {
    from {left: 1500px;}
    to {left: 276px;}
}

@keyframes mymove {
    from {left: 1500px;}
    to {left: 276px}
}