<!DOCTYPE html>
<html lang="es" ng-app="JMAPP">

<head>
    <link rel="icon" type="image/jpg" href="img/icon.jpg" />
    <title>PelisEOI</title>
    <meta charset="UTF-8">
    <base href="https://jmbetancort.github.io/PelisEOI/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/rzslider.css"/>
    <script src='http://code.jquery.com/jquery-latest.js'></script>
    
</head>

<body ng-cloak ng-controller="MainController as Main">
    <nav>
        <div class="wrapper">
            <div class="logo"><img src="img/logo.png" title="Logo EOI" alt="Logo EOI"></div>
            <div class="menu">
                <ul>
                    <li><a href="PelisEOI/" ng-click="Main.visibleAside()">Descrubrir</a></li>
                    <li><a href="PelisEOI/recents">Más recientes</a></li>
                    <li><a href="/upcoming">Próximos extrenos</a></li>
                    <li><a href="#"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a>
                        <ul>
                            <li><a href="/favourites">Mis favoritos</a></li>
                            <li><a href="/seeLater">Ver más tarde</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search">
                <div class="iconsearch"><img src="img/Search_Icon.png"></div>
                <input type="search" ng-model="Main.nameFilm" ng-model-options="{updateOn: 'blur'}" name="search" class="inputsearch" placeholder="Encuentra tu película favorita">
            </div>
        </div>
    </nav>
    <section class="content">
        <div class="wrapper">
            <div class="aside">
                <div class="headeraside">
                    <div class="iconfilter"><img src="img/filter_icon.png"></div>
                    <div class="textheaderaside">
                        <p><a href="#" ng-click="">Filtrar</a></p>
                        <p><span class="letterdelete" ng-click="Main.resetFilter()">Borrar</span></p>
                    </div>
                </div>
                <div class="containeraside">
                    <div class="rowclasification">
                        <p>Año</p>
                        <span>{{Main.slider.minValue}}-{{Main.slider.maxValue}}</span>
                    </div>
                    <rzslider rz-slider-model="Main.slider.minValue" rz-slider-high="Main.slider.maxValue" rz-slider-options="Main.slider.options"></rzslider>
                    <div class="rowclasification">
                        <p>Valoración</p>
                        <span>{{Main.slider1.minValue}}-{{Main.slider1.maxValue}}</span>
                    </div>
                    <rzslider id="valorationSlider" rz-slider-model="Main.slider1.minValue" rz-slider-high="Main.slider1.maxValue" rz-slider-options="Main.slider1.options"></rzslider>
                    <div class="rowclasification">
                        <p>Géneros</p>
                    </div>
                    <div class="buttons">
                        <a href="#" ng-class="{btnSelect: genre.option == genre.name, btnNoSelect: genre.option != genre.name}" ng-repeat="genre in Main.genres track by genre.id" ng-click="Main.optionSelect(genre)">{{genre.name}}</a>
                    </div>
                </div>
                <div class="ocultAside"></div>
            </div>
            <div ng-view class="subcontent"></div>
        </div>
    </section>
    <span class="ir-arriba"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i></span>

    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular/angular-route.min.js"></script>
    <script src="libs/angular/rzslider.min.js"></script>
    <!-- App -->
    <script src="js/app.js"></script>
    <!-- Services -->
    <script src="js/factories/theMovieDB.factory.js"></script>
    <script src="js/factories/genres.factory.js"></script>
    <script src="js/factories/omdbApi.factory.js"></script>
    <script src="js/factories/openSubtitles.factory.js"></script>
    <script src="js/factories/local.storage.factory.js"></script>
    <!-- Components -->
    <!-- Controllers -->
    <script src="js/controllers/main.controller.js"></script>
    <script src="js/controllers/home.controller.js"></script>
    <script src="js/controllers/upcoming.controller.js"></script>
    <script src="js/controllers/recents.controller.js"></script>
    <script src="js/controllers/individual.controller.js"></script>
    <script src="js/controllers/favourites.controller.js"></script>
    <script src="js/controllers/see.later.controller.js"></script>
    <script src="js/open.subtitles.js"></script>
    <script src="js/btn.goUp.js"></script>
</body>

</html>