<div class="headersubcontent">
    <p><span class="nummovies">107,875</span> películas encontradas</p>
    <p>Ordenar v</p>
</div>
<div class="containermovie">
    <a href="/individual.html" class="item">
        <img src="img/cartel.jpg">
        <div class="icons-rt">
            <div class="val" id="star"><img src="img/star.png"> <span>8</span></div>
            <div class="val"><img src="img/icon-tomattoes.png"> <span>77%</span></div>
            <div class="val"><img src="img/icon-popcorn.png"> <span>77%</span></div>
        </div>
    </a>
    <a href="#" class="item">
        <img src="img/cartel.jpg">
        <div class="icons-rt">
            <div class="val" id="star"><img src="img/star.png"> <span>8</span></div>
            <div class="val"><img src="img/icon-tomattoes.png"> <span>77%</span></div>
            <div class="val"><img src="img/icon-popcorn.png"> <span>77%</span></div>
        </div>
    </a>
    <a href="#" class="item">
        <img src="img/cartel.jpg">
        <div class="icons-rt">
            <div class="val" id="star"><img src="img/star.png"> <span>8</span></div>
            <div class="val"><img src="img/icon-tomattoes.png"> <span>77%</span></div>
            <div class="val"><img src="img/icon-popcorn.png"> <span>77%</span></div>
        </div>
    </a>
    <a href="#" class="item">
        <img src="img/cartel.jpg">
        <div class="icons-rt">
            <div class="val" id="star"><img src="img/star.png"> <span>8</span></div>
            <div class="val"><img src="img/icon-tomattoes.png"> <span>77%</span></div>
            <div class="val"><img src="img/icon-popcorn.png"> <span>77%</span></div>
        </div>
    </a>
    <a href="#" class="item">
        <img src="img/cartel.jpg">
        <div class="icons-rt">
            <div class="val" id="star"><img src="img/star.png"> <span>8</span></div>
            <div class="val"><img src="img/icon-tomattoes.png"> <span>77%</span></div>
            <div class="val"><img src="img/icon-popcorn.png"> <span>77%</span></div>
        </div>
    </a>
    <a href="#" class="item">
        <img src="img/cartel.jpg">
        <div class="icons-rt">
            <div class="val" id="star"><img src="img/star.png"> <span>8</span></div>
            <div class="val"><img src="img/icon-tomattoes.png"> <span>77%</span></div>
            <div class="val"><img src="img/icon-popcorn.png"> <span>77%</span></div>
        </div>
    </a>
</div>