<div class="view-individual">
    <div class="film">
        <div class="titlefilm">
            <div>
                <span>{{film.title}}</span>
                <span>{{film.year}}</span>
            </div>
            <a href="#"><img src="img/cross.png" ng-click="close()"></a>
        </div>
        <div class="contentfilm">
            <img ng-src="{{film.poster}}">
            <div class="sipnosis">
                <div class="headersipnosis">
                    <span>Sipnosis</span>
                    <span>{{film.runtime}}</span>
                </div>
                <div class="caractsfilm">
                    <div class="categoriasfilm">
                        <span ng-repeat="genre in film.genres">{{genre.name}}</span>
                    </div>
                    <div class="valorationfilm">
                        <div><img src="img/star-color.png"><span>{{film.imdbRating}}</span></div>
                        <div><img src="img/icon-tomattoes.png"><span>{{film.rottenTomatoes}}</span></div>
                        <div><img src="img/icon-popcorn.png"><span>{{film.metascore}}%</span></div>
                    </div>
                </div>
                <div class="abstractfilm">
                    <p>{{film.descrip}} <span ng-repeat="company in film.company">(C) {{company.name}} </span></p>
                </div>
                <div class="trailer">
                    <p>Trailer</p>
                    <iframe ng-if="video" ng-src="{{film.video}}" allowfullscreen></iframe>
                    <img ng-if="!video" src="img/not_found_video.png">
                </div>
            </div>
        </div>
        <div class="subtitles">
            <span>Subs:</span>
            <span ng-repeat="subtitle in subtitles"><a href="{{subtitle.url}}">{{subtitle.langcode}}</a></span>
        </div>
        <p ng-if="existingSimilar">Películas similares</p>
        <div ng-if="existingSimilar" class="similiarmovies">
            <div ng-repeat="filmsimilar in similares">
                <a href="individual/{{filmsimilar.id}}"><div class="imgSimilar" ng-style="background": url('{{filmsimilar.poster}}', "background-size": "50%";)"></div></a>
                <p>{{filmsimilar.title}}</p>
            </div>
        </div>
    </div>
</div>